@import url(https://fonts.googleapis.com/css?family=Margarine);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

@font-face {
  font-family: 'La Renga';
  src: url('La Renga.ttf') format('truetype');
}

body {
  font-family: 'Margarine';
  color: #2c3e50;
  margin: 0;
  padding: 14px;
}

h2 {
  background-color: #34495e;
  padding: 10px;
  color: #fff;
  font-family: 'La Renga';
  letter-spacing: 10px;
}

a, a:visited {
  font-family: Roboto;
  color: white;
  padding: 6px 20px;
  background-color: #2980b9;
  text-decoration: none;
  border-radius: 3px;
  border-bottom: 5px solid #abc;
  margin-left: 3px;
}

a:hover {
  background-color: #34495e;
  border-bottom: 5px solid orange;
}

a.active {
  background-color: #34495e !important;
  border-bottom: 5px solid orange;
}

hr {
  margin-top: 20px;
  border-top: 1px solid #f1c40f;
}

form {
  background-color: #f7f7f7;
  width: 600px;
  box-shadow: 2px 4px 10px #34495e;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto; 
}

form div.titulo {
  font-family: Roboto;
  font-size: 1.2em;
  font-weight: 500;
  padding: 10px;
  margin-bottom: 30px;
  background-color: #2980b9;
  color: #fff;
  border-radius: 15px 15px 0px 0px;
}

form .input-group {
  margin: 0px 30px;
  display: flex;
  margin-top: 10px;
}

form .input-group label {
  margin-top: 6px;
  margin-right: 6px;
  width: 160px;
}

form .input-group label:after {
  content:" :"
}

input, select, button {
  flex: 1;
  padding: 6px;
  border:1px solid #abc;
  border-radius: 3px;
  font-family: Roboto;
  font-size: 1em;
}

.input-group .button {
  color: white;
  background-color: #2980b9;
  cursor: pointer;
}

.input-group .button:hover {
  background-color: #34495e;
}

table {
  margin-left: 15px;
  width: 90%;
  border-collapse: collapse;
}

.tabla {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 2px 4px 10px #34495e;
  margin-left: auto;
  margin-right: auto; 
  min-height: 80%;
}

div.tabla div.titulo {
  font-family: Roboto;
  font-size: 1.2em;
  font-weight: 500;
  padding: 10px;
  margin-bottom: 30px;
  background-color: #4CAF50;
  color: #fff;
  border-radius: 5px 5px 0px 0px;
}


td,
th {
  padding: 10px;
  font-family: Roboto;
  border: 1px solid #abc;
}

th {
  background-color: #2c3e50;
  color: #fff;
  font-weight: 500;
}

tr:nth-child(even) {
  background-color: #eaeaea;
}

.boton-eliminar {
  background-color: red;
  color: white;
  cursor: pointer;
}

.boton-eliminar:hover {
  background-color: darkred;
}

.no-border {
  border: 0;
  background-color: white;
  text-align: center;
}

.boton-editar {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.boton-editar:hover {
  background-color: darkblue;
}

.centrado {
  text-align: center;
}

/* Login form */
form.login {
  border-radius: 5px;
}

form.login div.titulo {
  background-color: #E91E63;
  border-radius: 5px 5px 0px 0px;
}

form.login div.input-group button.button {
  font-size: 1.4em;
  background-color: #607D8B;
}

form.login div.input-group button.button:hover {
  background-color: #2196F3;
}

.error {
  color: red;
}

/* Registration form */
form.registro {
  border-radius: 5px;
}

form.registro div.titulo {
  background-color: #9C27B0;
  border-radius: 5px 5px 0px 0px;
}

form.registro div.input-group button.button {
  font-size: 1.4em;
  background-color: #607D8B;
}

form.registro div.input-group button.button:hover {
  background-color: #2196F3;
}

.error {
  color: red;
}

.fa {
  font-size: 2em;
  color: #2c3e50;
  cursor: hand;
}

.fa:hover {
  color: #9C27B0;
}